body{
	background-color: #ffffe6;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-container {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#choose{
	align-content: center;
}
